
@keyframes example {
    from { color: rgb(15, 15, 210); }
    to { color: rgb(17, 241, 107); }
  }



body{
    background-color: black;
    color: white;
    
}

#header{
    display: flex;
    justify-content: center;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    font-size: 40px;
}

#movieContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    flex-wrap: wrap;
}

.image:hover{
    transform: scale(1.1);
    transition: 0.5s;
   
}

.average{
   padding-top: 10%;
}