
@keyframes example {
    from { color: rgb(15, 15, 210); }
    to { color: rgb(17, 241, 107); }
  }



body{
    background-color: rgb(67, 66, 74);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

#header{
    display: flex;
    justify-content: center;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    font-size: 40px;
}

#movieContainer{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(67, 66, 74);
    flex-wrap: wrap;
}

.image:hover{
    transform: scale(1.1);
    transition: 0.5s;
   
}

.average{
   padding-top: 10%;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

#now-playing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    background:  rgb(86, 84, 98);
    border-radius: 20px;
    padding: 0px 16px;
}

.searchbtn{
    line-height: 30px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.875rem;
    width: 100%;
    padding-bottom: 2px;
    color: #ffffff;
    font-size: large;
    opacity: 1;
}

.btn {
    background-color: rgb(86, 84, 98);
    border-radius: 20px;
    color: white;
    
}
